{% extends 'admin/base/admin_base.html' %}


{% block header %}
新闻发布页
{% endblock %}


{% block title %}
新闻发布页
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="box box-primary">
      <div class="box-body">
        <div class="form-group">
          <label for="news-title">新闻标题</label>
          {% if news %}
          <input type="text" class="form-control" id="news-title" name="news-title" placeholder="请输入新闻标题"  value="{{ news.title }}">
            {% else %}
            <input type="text" class="form-control" id="news-title" name="news-title" placeholder="请输入新闻标题" autofocus>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="news-desc">新闻描述</label>
          {% if news %}
          <textarea name="news-desc" id="news-desc" placeholder="请输入新闻描述" class="form-control" style="height: 8rem; resize: none;">{{ news.desc }}</textarea>
            {% else %}
            <textarea name="news-desc" id="news-desc" placeholder="请输入新闻描述" class="form-control" style="height: 8rem; resize: none;"></textarea>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="news-category">新闻分类</label>
          <select name="news-category" id="news-category" class="form-control">
            <option value="0">-- 请选择新闻分类 --</option>
            {% for news_tag in news_tags %}
               <!-- 传tag_id到后台 -->
              {% if news and news_tag == news.tag %}
              <option value="{{ news_tag.id }}" selected>{{ news_tag.name }}</option>
                {% else %}
                <option value="{{ news_tag.id }}">{{ news_tag.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group" id="container">
          <label for="news-thumbnail-url">新闻缩略图</label>
          <div class="input-group">
            {% if news %}
            <input type="text" class="form-control" id="news-thumbnail-url" name="news-thumbnail-url"
                   placeholder="请上传图片或输入新闻缩略图地址" value="{{ news.thumbnail_url }}">
              {% else %}
              <input type="text" class="form-control" id="news-thumbnail-url" name="news-thumbnail-url"
                   placeholder="请上传图片或输入新闻缩略图地址">
            {% endif %}

            <div class="input-group-btn">
              <label class="btn btn-default btn-file">
                上传至服务器 <input type="file" id="upload-news-thumbnail">
              </label>
              <button class="btn btn-info" id="upload-btn">上传至七牛</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="progress" style="display: none">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0;">0%</div>
          </div>
        </div>
        <div class="form-group">
          <label for="news-content">新闻内容</label>
          {% if news %}
            <div id="news-content"></div>
            <script>
              window.onload = function () {
                window.editor.txt.html('{{ news.content|safe }}')
              }
            </script>
          {% else %}
            <div id="news-content"></div>
          {% endif %}
        </div>
      </div>
      <div class="box-footer">
          {% if news %}
            <a href="javascript:void (0);" class="btn btn-primary pull-right" id="btn-pub-news" data-news-id="{{ news.id }}">更新新闻 </a>
          {% else %}
           <a href="javascript:void (0);" class="btn btn-primary pull-right" id="btn-pub-news">发布新闻 </a>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="https://cdn.bootcss.com/wangEditor/10.0.13/wangEditor.js"></script>
  <!-- 七牛云 客户端 并不经过服务端 服务器需要提供 token -->
  <script src="https://cdn.bootcss.com/plupload/2.1.9/moxie.min.js"></script>
  <script src="https://cdn.bootcss.com/plupload/2.1.9/plupload.dev.js"></script>
  <script src="https://cdn.bootcss.com/qiniu-js/1.0.17.1/qiniu.min.js"></script>
  <!--一定要在下面 js 文件顺序很重要 -->
  <script src="/static/js/admin/base/fqiniu.js"></script>
  <script src="/static/js/admin/news/news_pub.js"></script>
{% endblock %}