{% extends 'admin/base/admin_base.html' %}

{% block title %}
添加 banner
{% endblock %}

{% block header %}
添加 banner
{% endblock %}


{% block content %}
  <style>
    .banner-img {
      width: 328px;
      height: 82px;
    }

    .banner-img img {
      width: 100%;
      max-height: 100%;
    }

    .banner-info {
      margin-left: 20px;
    }

    .form-group {
      width: 500px;
    }
    ul.banner-list{
      list-style:none;
      margin:0;
      padding:0;
    }
    ul.banner-list li.banner-item{
      margin-top: 20px;
    }
    @media screen and (max-width: 1100px) {
      .form-group {
        margin-top: 15px;
      }

      .banner-info {
        margin: 0;
      }
    }
  </style>
  <div class="row">
    <div class="col-lg-6">
      <button class="btn btn-primary pull-left" id="banner-add-btn"><i class="fa fa-plus"></i> 添加轮播图</button>
      <ul class="pull-left tips" style="line-height: 18px;">
        <li>支持 JPG/PNG 格式的图片 最多可上传6张</li>
        <li>图片的宽度最好在800px以上，比例为4:1</li>
      </ul>
    </div>
  </div>
  <ul class="banner-list">
  </ul>
{% endblock %}

{% block script %}
  <script src="/static/js/admin/news/news_banner.js"></script>
{% endblock %}